.card-hearder-i {
    text-align: end;
}

@media screen and (max-width: 600px) {
    .card-layout-i {
        min-height: 100vh;
        border-radius: 0 !important;
    }
}

.name-header-i {
    text-align: start;
    color: green
}

.text-error-i {
    color: red
}

.status-box-i {
    font-size: 19px;
}

.loading-position-i {
    display: flex;
    justify-content: center;
}