.card-hearder-i {
    text-align: end;
}

.name-header-i {
    text-align: start;
}

.text-error-i {
    color: red
}

.status-box-i {
    font-size: 19px;
}

.loading-position-i {
    display: flex;
    justify-content: center;
}